# **HOMEWORK 3...?** 🕵
## **DUE: *October 21, 2025 @ 11:59 PM***
## **24-HR LATE DUE DATE W/ A 15% PENALTY: *October 22, 2025 @ 11:59 PM***

### **DO NOT REMOVE ANY PART OF ANY OF THE QUESTIONS OR YOU LOSE CREDIT**
### *No Hardcoding Any Part of Any Question*  😋🪄🧌
### **REMEMBER TO SHOW ALL CODE OUTPUT (NO CREDIT OTHERWISE)**
### **Reminder: Use tools or websites such as https://www.convert.ploomber.io/ to create a clean PDF from jupyter, check piazza for more details**
### **Reminder: Please make sure your code runs before submitting your work. Code sections that do not run will receive 0 credits, no partials will be given. This is VERY important in real project development.**

---
---
**DISCLAIMER: This is a fake story, not a real incident! We have created this story just for the data exploration purpose.**

---
---

**Campus Police Department**

Incident Report

---

**Incident Date:** September 27, 2025

**Location of Incident:** 2nd Floor, Iribe Building

**Items Left at the Scene:** Red Ticket for Zichao's Magic Show

**Case Number:** 2025-IRB-0027

---
**Victim Information:**

**Name:** Dr. Fardina Alam

**Affiliation:** University of Maryland, College Park

**Position:** Professor

**Contact Information:** fardina@umd.edu

---

**Incident Description:**

On the evening of September 27, 2025, an unknown individual(s) unlawfully entered Dr. Fardina's room located on the 2nd floor of Iribe and stole a set of Markers. The stolen items were a set of limited edition markers that Dr. Fardina had spent years collecting. At the scene of the crime, a red entry ticket for "Zichao's Magic Show" was found on the floor near Dr. Fardina's desk.

In [61]:
# We import all essential libraries for this HW.
# If you want to add additional libraries, you can add more here!
import pandas as pd
from datetime import datetime
import re
import string

## YOUR TASK 🔎:

In this assignment, you are tasked with solving the mystery of Dr. Fardina's stolen markers and finding the culprit.

* To accomplish this, you will be provided with **4 data sets** containing key information related to the incident. The list of the data sets name given below:

 - Profiles
 - Witnesses
 - Zichao's magic show
 - Interrogation Statements



* Your goal is to analyze these data sets to uncover the clues and evidences that will lead you to the thief.

**Be careful in following instructions as it may lead to you losing points :(**

Take a moment to look at all the data sets below:

---

**Profiles:**

This dataset contains information regarding all the potential people that could have committed the crime. General information regarding each person are as follows:
- `ID`: A **unique** identification for each person
- `Name`: The name of the person
- `Birthday`: The birthday of the person
- `Location_during_crime`: The location of the person during the crime
- `Eye_Color`: The eye color of the person
- `Skin_Color`: The skin color of the person
- `Hair_Color`: The hair color of the person
- `Height`: The height of the person in cm

**Witnesses:**

This dataset contains a statement from everyone in profiles, regarding suspicious things they saw during the time of the crime. Information that comes in this dataset are as follows:
- `ID`: A **Unique** identification for each person
- `Statement`: A statement from the person regarding a suspicious activity during the time of the crime

**Zichao's Magic Show:**

This dataset contains everyone that purchased a ticket for the show. **NOTE** that not everyone in profiles has purchased a ticket for this show. The Information contained in this dataset are as follows:
- `ID`: A **Unique** indentification for each person
- `Ticket_Number`: A **Unique** number that serves as an identification for the ticket bought

**Interrogation Statements:**

This datasets contains a statement from each person after they have been interrogated. **NOTE** assume that each statement is ***100% true*** and that ***there are people in this dataset who aren't in the "Profiles" dataset***.
Information contained in this dataset are as follows:

- `Name`: The name of the person being interrogated
- `Statement`: A statement the person gives after being interrogated

---

## Q1) Lets begin by observing the profiles dataset (10 PTS Total)


**TASK 1.1 (1 Point):**  In the code box below, load in `Profiles` dataset into a variable called `profiles_df` and display it

**Outputs to be Graded:**
- Variable(s): `profiles_df`
- Cell outputs

In [62]:
profiles_df = pd.read_csv('Profiles.csv')
profiles_df

,ID,Name,Birthday,Location_during_crime,Eye_Color,Skin_Color,Hair_Color,Height
0,P299,Marco Rossi,1969/07/10,fourth floor,red,indigo,orange,191
1,P086,Aarav Patel,1979/03/10,second floor,indigo,indigo,green,198
2,P022,Li Wei,1990/10/08,fourth floor,blue,red,violet,154
3,P003,Haruto Tanaka,1996/27/10,lobby,green,blue,violet,158
4,P036,Kwame Mensah,1991/26/02,fourth floor,blue,yellow,orange,184
...,...,...,...,...,...,...,...,...
343,P126,Andrew Choe,1988/03/01,NaN,violet,indigo,red,176
344,P203,Krish Thakker,1965/26/09,third floor,yellow,indigo,orange,193
345,P273,Jeonghan Yoon,2003/12/07,fourth floor,blue,indigo,red,193
346,P290,Ananya Malipeddi,10/03/1994,third floor,NaN,yellow,indigo,161
347,P233,Ifra Syed,06/27/1982,second floor,red,yellow,orange,169

**TASK 1.2 (1 Point):**  Next, you need to display the number of rows and columns in the `profiles_df` dataframe.

**Outputs to be Graded:**
- Cell outputs

In [63]:
rows, cols = profiles_df.shape

print(f"Rows: {rows} and Columns: {cols}")

Rows: 348 and Columns: 8

**TASK 1.3 (1 Point):**  Next, you need to display the name of the columns in the `profiles_df` dataframe.

**Outputs to be Graded:**
- Cell outputs

In [64]:
list(profiles_df.columns)

['ID',
 'Name',
 'Birthday',
 'Location_during_crime',
 'Eye_Color',
 'Skin_Color',
 'Hair_Color',
 'Height']

**TASK 1.4 (1 Point):**  Now, you need to display the types of the columns in the `profiles_df` dataframe.

**Outputs to be Graded**
- Cell outputs

In [65]:
profiles_df.dtypes

ID                       object
Name                     object
Birthday                 object
Location_during_crime    object
Eye_Color                object
Skin_Color               object
Hair_Color               object
Height                    int64
dtype: object

**TASK 1.5 (2 Points):**
- Utilizing the `count()` function on this dataset and set it to the variable `info` and then display it.
- Write any **potential problem** that you see with the dataset when observing the output of the count function:

**Outputs to be Graded**
- Variable(s): `info`
- Cell outputs
- Written statement(s) describing potential problem(s)

In [66]:
info = profiles_df.count()
info

ID                       348
Name                     348
Birthday                 348
Location_during_crime    280
Eye_Color                280
Skin_Color               348
Hair_Color               348
Height                   348
dtype: int64

## Issues:

Location and eye color have significantly less data than the other values

**<font color='red'>Write your observations here:</font>**

**TASK 1.6 (4 Points):**

Look back at the "Profiles" dataset. Using other pandas functions than `count()`, **can you spot another potential problem with the dataset?**

**Outputs to be Graded**
- Written statement(s) describing your observations

In [67]:
profiles_df

,ID,Name,Birthday,Location_during_crime,Eye_Color,Skin_Color,Hair_Color,Height
0,P299,Marco Rossi,1969/07/10,fourth floor,red,indigo,orange,191
1,P086,Aarav Patel,1979/03/10,second floor,indigo,indigo,green,198
2,P022,Li Wei,1990/10/08,fourth floor,blue,red,violet,154
3,P003,Haruto Tanaka,1996/27/10,lobby,green,blue,violet,158
4,P036,Kwame Mensah,1991/26/02,fourth floor,blue,yellow,orange,184
...,...,...,...,...,...,...,...,...
343,P126,Andrew Choe,1988/03/01,NaN,violet,indigo,red,176
344,P203,Krish Thakker,1965/26/09,third floor,yellow,indigo,orange,193
345,P273,Jeonghan Yoon,2003/12/07,fourth floor,blue,indigo,red,193
346,P290,Ananya Malipeddi,10/03/1994,third floor,NaN,yellow,indigo,161
347,P233,Ifra Syed,06/27/1982,second floor,red,yellow,orange,169

The dates are scrambled. Some are YYYY-DD-MM and others are MM-DD-YYYY

**<font color='red'>Write your observations here:</font>**

## Q2) Cleaning the data set (25 PTS Total)

**TASK 2.1 (10 Points):** Lets begin by fixing the Birthday column. You may notice that the dates are in inconsistent format!

- Pandas internally represent dates in 'datetime64' format which is a form of ISO 8601. Basically, dates are represented as yyyy-mm-dd.


- Fix all the dates in the Birthday Column of `profiles_df` dataframe (Do not use other variable name).
- Display the `profiles_df` dataframe after you are done.
- Note that the only **2 formats** the dates are in is either **yyyy/dd/mm** or **mm/dd/yyyy**;
- You want to represent them as **yyyy-mm-dd**

- **EXAMPLE**: In the “Profiles” dataset, dates like *2000/10/12* and *10/12/2000* follow different formats—one as *December 10th, 2000*, and the other as *October 12th, 2000*. We aim to standardize them to *2000-12-10* and *2000-10-12*, respectively.

**HINT:** some datetime functions might make things easier.
- https://www.geeksforgeeks.org/python-pandas-to_datetime/
- https://www.programiz.com/python-programming/datetime/strftime

**Outputs to be Graded**
- Variable(s): `profiles_df`
- Cell outputs

In [68]:
def apply_date_format(date):
    if re.match(r"[0-9]{1,}/[0-9]{2}/[0-9]{4}", date):
        return pd.to_datetime(date, format='%m/%d/%Y')
    else:
        return pd.to_datetime(date, format='%Y/%d/%m')

profiles_df['Birthday'] = profiles_df['Birthday'].apply(lambda date: apply_date_format(date))

In [83]:
profiles_df['Birthday']

0     1969-10-07
1     1979-10-03
2     1990-08-10
3     1996-10-27
4     1991-02-26
         ...
343   1988-01-03
344   1965-09-26
345   2003-07-12
346   1994-10-03
347   1982-06-27
Name: Birthday, Length: 348, dtype: datetime64[ns]

**TASK 2.2 (5 Points):** Now that we have cleaned up the Birthday column, lets find the age of each person. Create a new column called `Age` that displays the age of the person **on the day of the crime.** Once you are done, display the
`profiles_df` dataframe

**Outputs to be Graded**
- Variable(s): `profiles_df`
- Cell outputs

In [69]:
# Write your code here

**TASK 2.3 (10 Points):** Now that we have created the `Age`; lets clean the `Eye_Color` column.

***Please read the directions carefully:***


- In order to fill in the missing eye colors, we want to find the **most common eye color** among those who have the **same hair and skin color**.
- For instance, if we want to find the eye color of someone who has yellow hair and violet skin:
 - we would first find everyone who has the same hair and skin color, in this case it would be yellow hair and violet skin
 - and then we find the most common eye color among them.
 - we then replace the missing eye color with the eye color that is the most common among the people with the same hair and skin color.
- Watch out for redundant data!

- ***NOTE: In the case that you find multiple modes, choose the color that appears first in alphabetical order***

 When you finish filling in the missing eye colors, please **display the `profiles_df`**

 **Outputs to be Graded**
 - Variable(s): `profiles_df`
 - Cell outputs

In [70]:
# Write your code here


## Q3) Finding the features of the culprit (43 PTS Total)

Now that we have successfully cleaned all of our data, lets begin finding the features of the criminal. Take a moment to look at the `Witnesses` table. We don't necessarily want all the statements from every single witness.

**NOTE:** Take a look at the structure of each statement, notice how there are only a few variations of statements from the witnesses.

**TASK 3.1 (5 Points):** Find all witnesses that were near the crime scene
- First load in the `Witness.csv` file and set it to a variable called `witness_df`
- create a new dataframe called `important_witnesses` that contains the id and the witness statements of those who were near the scene of the crime
- display the new dataframe when you are finished
- **HINT:** look at the floor which the crime happened on.

**Outputs to be Graded:**
- Variable(s): `witness_df`, `important_witnesses`
- Cell outputs

In [71]:
# Write your code here

**TASK 3.2 (10 Points):** Find every potential eye color that the culprit could have

 - Put all the potential eye colors of the culprit in a list called `potential_eye_colors` and **display** it when you're done.
 - `potential_eye_colors` should have **no duplicates.**

 **Outputs to be Graded:**
 - Variable(s): `potential_eye_colors`
 - Cell outputs

In [72]:
# Write your code here

**TASK 3.3 (5 Points):** Find every potential hair color that the culprit could have

 - Put all the potential hair colors of the culprit in a list called `potential_hair_colors` and **display** it when you're done.

**Outputs to be Graded**
- Variables: `potential_hair_colors`
- Cell outputs

In [73]:
# Write your code here

**TASK 3.4 (5 Points):** Find every potential skin color that the culprit could have

 - Put all the potential skin colors of the culprit in a list called `potential_skin_colors` and display it when you're done

**Outputs to be Graded**
- Variable(s): `potential_skin_colors`
- Cell outputs

In [74]:
# Write your code here

**TASK 3.5 (10 Points):** Find the potential height of the culprit

 - Put the smallest and largest potential heights of the culprit in the variables called `smallest_height` and `largest_height` and display them when you are done

 **Outputs to be Graded**
 - Variables: `smallest_height`, `largest_height`
 - Cell outputs

In [75]:
# Write your code here

**TASK 3.6 (8 Points):** Find the potential age of the culprit

 - Put the smallest and largest potential age of the culprit in the variables called `smallest_age` & `largest_age` and display them when you are done

 **Outputs to be Graded**
 - Variable(s): `smallest_age`, `largest_age`
 - Cell outputs

In [76]:
# Write your code here

## Q4) Who owns the Ticket? (30 PTS Total)

**TASK 4.1 (2 Points):** Loading final dfs


Load in the `Zichao_s_Magic_Show.csv` into a dataframe called `show_df` and the `Interrogation_Statements.csv` into a dataframe called `interrogation_df` respectively and display them when you are done

**Outputs to be Graded**
- Variables: `show_df`, `interrogation_df`
- Cell outputs

In [77]:
# Write your code here

We're **so close** to figuring out the *last* and *final* clue to locate the culprit, but it looks like they are trying to beat us to it! What a devious criminal!

The culprit must have **sabotaged** our data after **interrogation** because it looks so wonky with weird symbols.

However, HQ informed us that our good friend and exemplar cryptanalyst **Alan Turing** has something to say to help us fix the data. **He encoded his message to keep it safe from the culprit.**

**TASK 4.2 (10 Points):**

Find what **Alan Turing** has to say:
- Use the `interrogation_df` to locate Alan's Turing's message.
- Put the message in a variable called `encoded_message` as a string (**Exclude** any **quotation marks** within the statement)
 - **Print** the encoded message in the following format: {"Encoded Message:", encoded_message}
- Figure out what the message says by taking a look at the numbers:
 - A **single space** between numbers indicates a letter to form a word.
 - A **double space** between numbers indicates the start of a new word.
- Store his decoded message in a variable called `decoded_message`
- Print out **Alan Turing's** decoded message in the following format: {"Decoded Message:", decoded_message}

**Outputs to be Graded**
- Variable(s): `encoded_message`, `decoded_message`
- Cell outputs: The two **formatted** messages

In [78]:
# Write your code here

**TASK 4.3 (10 Points):** **Restore** the interrogation statements back to their original state after **following the decoded message from before**.
- After restoration, make sure your modifications are updated in the `interrogation_df` itself.
- **Display** the `interrogation_df` when you are done.

**Outputs to be Graded:**
- Variable(s): `interrogation_df`
- Cell outputs

In [79]:
# Write your code here


**TASK 4.4 (8 Points):** Create a column called `Ticket_Color` for the `show_df` that displays all the colors of the ticket

- Remember that there was a show ticket left at the crime scene, take a second to look through `show_df`. Try and find a way to identify how you can find the ticket color from the ticket number.
- **Display** the `show_df` when you are done
- **HINT:** examine the `interrogation_df`

**Output to be Graded**
- Variable(s): `show_df`
- Cell outputs

In [80]:
# Write your code here

## Q5) Finding the culprit (12 PTS Total)

A helpful function might be the "iloc" function. Have a look at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

**TASK 5.1(10 Points):** Using all the **data compiled from before** find a person that matches all the features from the profile.

- Do not hardcode or you will lose credit after all your hardwork 🥸

- Put the name of the culprit in a variable called `culprit`
- **Print** out the name of the culprit (There is only one).

**Outputs to be Graded**
- Variable(s): `culprit`
- Cell outputs

In [81]:
# Write your code here

**TASK 5.2 (2 Points):** Check if your culprit is correct!
- **Interrogate** your culprit to see if you got the correct person.
- **Print** out their entire statement.

**Outputs to be Graded:**
- Cell output (the entire statement)

In [82]:
# Write your code here

# GREAT WORK DETECTIVE!! 🌻

## BONUS (1 point)
We have shared an online interactive textbook for CMSC320: Introduction to Data Science. The textbook is still in progress, and more chapters will be published gradually throughout the semester.

This short pre-feedback survey will help us understand your experience, preferences, and expectations regarding the textbook format before you start using it.

Here is the link to the survey: https://forms.gle/n3Nbmeosoos7tjFa9


Here is the link to the textbook:
 https://ffalam.github.io/CMSC320TextBook/index.html

Note: After completing the survey, please take a screenshot of your submission and submit it as proof of participation.

This is the bonus question for this assignment only.